/**
 * Created by ronanwilliams on 2019-08-27.
 */

.THIS .newFamily {
    cursor: pointer;
    opacity : 0.5;
}

.THIS .newFamily:hover {
    opacity: 1;
}

.THIS .family {
    border: 1px solid #dad9d9;
    border-radius: 3px;
    margin-bottom: 12px;
    /*background-color: #f9f7f7;*/
}

.THIS .familyHeader {
    font-size: 14px;
    font-weight: bold;
}

.THIS .dateGrid {
    display: grid;
    grid-template-columns: 22% 13% 13% 13% 13% 13% 13%;
}

.THIS .quoteGrid {
    display: grid;
    grid-template-columns: 31% 16% 16% 16% 16% 5%;
}

.THIS .value {
    /*text-align: right;*/
    /*padding-right: 5px;*/
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
}

.THIS .useCasePanel {
    padding-top: 10px;
    margin-top: 5px;
    border-top: 0.5px solid lightgrey;
    font-weight: lighter;
}

.THIS .newUseCase {
    width: 200px;
    opacity: 0.2;
}

.THIS .newUseCase:hover {
    opacity: 1;
}

.THIS .date {
    font-weight: bold;
}

.THIS .small {
    opacity: 0.7;
}

.THIS input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.THIS input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.THIS .newValue {
    /*border: .5px dashed lightgrey;*/
    opacity: .3;
    cursor: pointer;
    font-size: 22px;
    width: 100%;
    height: 32px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    color: #b5b4b4;
    /*background-color: #f3f1f1;*/
    max-width: 100px;
}

.THIS .newValue:hover {
    opacity: 1;
}

.THIS .slds-input {
    text-align: right;
    height: 25px !important;
    min-height: 25px !important;
}

.THIS .productLine {

    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid #bbbbbb;
    height:40px;
    cursor: pointer;
    /*background-color: #d0cfcf;*/
}

.THIS .hoverShow {
    opacity: 0.1;
}


.THIS .hoverShow:hover {
    opacity: 1;
}

.THIS .discountIcon {
    font-weight: bolder;
    color: grey;
    position: absolute;
    left: 5px;
}