/**
 * Created by ronanwilliams on 2019-08-27.
 */

.THIS .newFamily {
    /*width: 100%;*/
    /*height: 100px;*/
    /*border-radius: 3px;*/
    /*background-color: lightgrey;*/
    cursor: pointer;

    opacity : 0.5;
}

.THIS .newFamily:hover {
    opacity: 1;
}

.THIS .family {
    border: 1px solid #dad9d9;
    border-radius: 3px;
    margin-bottom: 12px;
    background-color: #f3f1f1;
}

.THIS .familyHeader {
    font-size: 14px;
    font-weight: bold;
}

.THIS .dateGrid {
    display: grid;
    grid-template-columns: 22% 13% 13% 13% 13% 13% 13%;
}

.THIS .value {
    text-align: right;
    padding-right: 5px;
}

.THIS .useCasePanel {
    /*border-radius: 3px;*/
    /*border: 0.5px solid #e1e1e1;*/
    /*background-color: #f4f4f4;*/

    padding-top: 10px;
    border-top: 0.5px solid lightgrey;
    font-weight: lighter;
}

.THIS .newUseCase {
    width: 200px;
}

.THIS .date {
    font-weight: bold;
}

.THIS .small {
    /*font-size: 11px;*/
    opacity: 0.7;
}